# Server environment variables
PORT=3000

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/dev-hub

# Google OAuth Configuration
GOOGLE_CLIENT_ID=208639535162-eqmptcuar53i9oh39uqmhs35vlkobhe0.apps.googleusercontent.com

# JWT Secret
JWT_SECRET=41764863136003446d4ce70628de950784146fc33af8e44aeef5eb62fcfcb4cd
